<h1>Cosa è NotesMarket?</h1>
<p>NotesMarket è un portale creato e gestito da studenti di Ingegneria Gestionale dell'Università di Palermo che permette di vendere ed acquistare comodamente appunti presi durante le lezioni</p>